.background {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    padding-bottom: 81px;
}

.container {
    width: 1061px;
    margin: 0 auto;
    padding: 46px 138px 20px;
    font-family: Verdana,sans-serif;
}
/*--------------------------------LOGO-----------------------------------------------*/
.header{
    display: grid;
    grid-template-areas:
    "promo contacts";
    margin-bottom: 48px;
}
.promo{
    display: grid;
    grid-area: promo;
    grid-template-columns: 46px 104px;
    grid-template-rows:46px;
    grid-gap: 15px;
}
.logo{
    background-image: url("../img/logo1.png");
}
.logo-right {
    display: grid;
    width: 104px;
}
.logo-text{
    color:#ffffff;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 7px;
}
.logo-text-small{
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}
.promo:hover p{
    color: #f26522;
}
.promo:hover .logo{
    background-image: url("../img/logo.png");
}
/*-----------------------MAIN--LAYER-----------------------------*/

.contacts{
    display: grid;
    grid-area: contacts;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: right;
    line-height: 1.5;
}
.grid{
    display: grid;
    grid-template-areas:
    "one two three"
    "four five six"
    "seven seven seven";
    grid-column-gap: 69px;
    grid-row-gap: 98px;
}


.orange{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto;
    width: 312px;
    height: 63px;
    position: absolute;
    margin-top: -63px;
    background-color: #f26522;
    transition: all 0.4s linear;
    opacity: 0;
}
.info-left {
    display: grid;
    justify-self:start;
    align-content:center;
    color:  #ffffff;
    font-size: 10px;
    font-weight: 400;
    line-height: 21px;
}
.info-left p:nth-child(2){
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
}
.info-right {
    display: grid;
    justify-self:end;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    align-self:flex-end;
}
h6{
    color:#ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-top: 22px;
}

.one{
    grid-area: one;
}
.two{
    grid-area: two;
}
.three{
    grid-area: three;
}
.four{
    grid-area: four;
}
.five{
    grid-area: five;
}
.six{
    grid-area: six;
}
.seven{
    grid-area: seven;
}
.block-example img{
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, #ffffff 0%, #000000 60%);
    border-image-slice: 1;
    box-shadow: 0 5px 10px 1px black;
}
.block-example:hover .orange {
    opacity: 1;
}
.block-example:hover h6 {
    color:#f26522;
}
a{
    text-decoration: none;
}
.block-example{


}
.container h5{
    display: grid;
    color:  #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    justify-self: center;
}

/*@media(min-width: 640px){
    .header{
    grid-template-areas:
    "promo ."
    ".contacts";
    }
}*/